<form>
    <div class="mb-3">
        <label for="id" class="form-label ">Nome</label>
        <input type="number" class="form-control clienteForm" id="idCliente" aria-describedby="emailHelp" readonly>
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label ">Nome</label>
        <input type="text" class="form-control clienteForm" id="nomeCliente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="cognome" class="form-label">Cognome</label>
        <input type="text" class="form-control clienteForm" id="cognomeCliente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="indirizzo" class="form-label">Indirizzo</label>
        <input type="text" class="form-control clienteForm" id="indirizzoCliente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control clienteForm" id="telefonoCliente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="regione" class="form-label">Regione</label>
        <input type="text" class="form-control clienteForm" id="regioneCliente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="provincia" class="form-label">Provincia</label>
        <input type="text" class="form-control clienteForm" id="provinciaCliente" aria-describedby="emailHelp" maxlength="2">
    </div>
    <div class="mb-3">
        <label for="citta" class="form-label">Citta'</label>
        <input type="text" class="form-control clienteForm" id="cittaCliente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control clienteForm" id="utenteCliente" aria-describedby="emailHelp" hidden>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control clienteForm" id="emailUtente" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control clienteForm" id="passwordUtente" aria-describedby="emailHelp">
    </div>
</form>