<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>


    <h1 th:text="${titolo}"></h1>

    <form action="#" th:action="@{/login/login-utente}" th:object="${utenteForm}" method="post">
        <p> Email: <input type="email" th:field="${utenteForm.email}" /></p>
        <p> Password: <input type="password" th:field="${utenteForm.password}" /></p>
        <p><input type="submit" value="Aggiungi"></p>
    </form>

    <a href="/login/logout">Logout</a>

    <h2 th:text="${errore}" style="border: 2px solid black; background-color: red; color: white"></h2>

</body>

</html>